h2 {
  font-family: sans-serif;
  color: red;
  font-size: 200%;
  text-decoration: underline;
  margin-top: 1;
}

p {
  font-family: Comic Sans MS;
  margin-left: 1%;
}

html {
  background: linear-gradient(to top, white, white, blue);
}
